-
	var elmts = [
		{
			img: 'images/card-elements/img-1.png',
			ttl: 'Штрих-код'
		},
		{
			img: 'images/card-elements/img-2.png',
			ttl: 'Печатный номер'
		},
		{
			img: 'images/card-elements/img-3.png',
			ttl: 'Магнитная полоса'
		},
		{
			img: 'images/card-elements/img-4.png',
			ttl: 'Эмбоссирование'
		},
		{
			img: 'images/card-elements/img-5.png',
			ttl: 'Фольгирование'
		},
		{
			img: 'images/card-elements/img-6.png',
			ttl: 'Полоса для подписи'
		},
		{
			img: 'images/card-elements/img-7.png',
			ttl: 'Полоса для подписи'
		},
		{
			img: 'images/card-elements/img-8.png',
			ttl: 'Скретч-офф слой + пин'
		},
		{
			img: 'images/card-elements/img-9.png',
			ttl: 'Уникальный QR-код'
		},
		{
			img: 'images/card-elements/img-10.png',
			ttl: 'Тиснение'
		},
		{
			img: 'images/card-elements/img-11.png',
			ttl: 'Уникальное фото'
		},
		{
			img: 'images/card-elements/img-12.png',
			ttl: 'Крепление'
		}
	]
.card-elements
	._list
		each itm in elmts
			._itm
				._pict
					+picture({
						media: false,
						retina: false,
						img: itm.img
					})._img
					._ttl!=itm.ttl
	._btns
		+btn({
			ttl: 'Посмотреть готовые работы'
		})._btn
