.card-elements {
	margin-bottom: 40px;
	margin-top: 40px;
	@include media-breakpoint-up(md) {
		margin-bottom: 80px;
		margin-top: 80px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
		}
	}
	&__itm {
		border: 1px dashed $secondary;
		border-radius: 10px;
		padding: 20px;
		@include media-breakpoint-up(md) {
			@include gapOffset(4, 15)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 24)
		}
	}
	&__ttl {
		text-align: center;
		margin-top: 15px;

	}
	&__btns {
		margin-top: 30px;
		text-align: center;
	}
	&__img {
		display: block;
		border-radius: 15px;
	}

}
