footer.s-footer
	._l-container.l-container
		a(href="/home.html")._logo
			include ../../images/include/logo.svg
		nav._menus#mobile-menu
			ul._menu
				each itm in topMenu
					li._menu-itm
						a(
							href=itm.url
							class=itm.url === pageUrl ? 'is-selected': ''
						)._menu-lnk=itm.ttl
			ul._menu
				each itm in menu
					li._menu-itm
						a(
							href=itm.url
							class=itm.url === pageUrl ? 'is-selected': ''
							)._menu-lnk=itm.ttl
		._contacts
			._phone
				+phone({
					phone
				})._phone-lnk
				._phone-footnote Звонок по РФ бесплатный
			._messengers
				a(href="mailto:" + email)._messengers-lnk=email
					+icon('mail')
				a(href="https://t.me/" + telegram)._messengers-lnk=telegram
					+icon('telegram')
		._copyright
			|2008-2021 RealLifeOnline
			br
			|Изготовление пластиковых карт
	+picture({
		media: false,
		retina: false,
		img: 'images/s-footer/card-bg.png'
	})._card
