.s-footer {
	box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.04);
	background: rgba(255, 255, 255, 0.5);
	flex: 0 0 auto;
	margin-top: 100px;
	position: relative;
	border-radius: 25px 25px 0 0;
	@include media-breakpoint-up(md) {
		border-radius: 50px 50px 0 0;
	}
	&__l-container {
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
			display: flex;
			padding-top: 70px;
			padding-bottom: 80px;
		}
	}
	&__card {
		position: absolute;
		top: convertVW(-197);;
		left: 0;
		width: convertVW(458);
		height: convertVW(403);
		z-index: -2;
		max-width: 100%;

	}
	&__logo {
		max-width: 235px;
		display: block;
		border: none;
		@include media-breakpoint-up(md) {
			flex: 0 0 235px;
		}
		img, svg {
			display: block;
			width: 100%;
		}
	}
	&__menus {
		display: flex;
		margin-top: 30px;
		@include media-breakpoint-up(md) {
			margin-left: 30px;

			margin-top: 0;
			flex: 1 0 0;
		}
		@include media-breakpoint-up(lg) {
			margin-left: 75px;
		}
		@include media-breakpoint-up(xl) {
			margin-left: 150px;
		}
	}
	&__menu + &__menu {
		@include media-breakpoint-up(md) {
			margin-left: 15px;

		}
		@include media-breakpoint-up(lg) {
			margin-left: 88px;
		}
	}
	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 1.33;
		flex: 0 0 50%;
		max-width: 50%;
		@include media-breakpoint-up(md) {
			flex: 0 0 auto;
			max-width: 100%;

		}
		&-itm {
			&:not(:first-child) {
				margin-top: 10px;
				@include media-breakpoint-up(md) {
					margin-top: 25px;

				}
			}
		}
		&-lnk {
			border-bottom-color: transparent;
			color: inherit;
			&:hover {
				border-bottom-color: currentColor;
			}

		}
	}
	&__copyright {
		line-height: 1.57;
		color: $secondary;
		position: absolute;
		bottom: 25px;
		font-size: 10px;
		@include media-breakpoint-up(md) {
			font-size: 14px;

			left: 15px;
			top: 177px;
		}
	}
	&__contacts {
		margin-top: 30px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}
	&__phone {
		text-align: right;
		&-lnk {
			font-size: 25px;
			line-height: 100%;
			border: none;
			color: inherit;
			display: block;
		}
		&-footnote {
			font-size: 10px;
			line-height: 100%;
			margin-top: 6px;
			color: $secondary;
			text-align: right;
			@include media-breakpoint-up(lg) {
			    font-size: 14px;
			}
		}
	}
	&__messengers {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 10px;
		@include media-breakpoint-up(md) {
			margin-top: 30px;

		}
		&-lnk {
			border: none;
			display: flex;
			gap: 9px;
			align-items: center;
			font-weight: 300;
			font-size: 14px;
			line-height: 100%;
			@include media-breakpoint-up(md) {
				font-size: 16px;

			}
		}
		.icon {
			display: block;
			color: $dark;
		}
	}
}
