.page-head {
	margin-top: 25px;
	position: relative;
	@include media-breakpoint-up(md) {
		margin-top: 50px;
	}
	&__box {
		font-size: 12px;
		@include media-breakpoint-up(md) {
			font-size: 15px;
			transform: translateY(-25%);
		}
	}
	&__title {
		margin: 0!important;
		display: flex;
		flex-direction: column;
		gap: 15px;
		&_flex {
			@include media-breakpoint-up(md) {
				display: flex;
				flex-flow: row wrap;
			}
			@include media-breakpoint-up(xl) {
				gap: 123px;
			}
		}
	}
	&__ttl {
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
		color: inherit;
		text-decoration: none;
		border: none;
		white-space: nowrap;
		@include media-breakpoint-up(md) {
			font-size: 25px;
		}
		@include media-breakpoint-up(xxl) {
			font-size: 50px
		}
	}
	&__txt-tmp {
		top: 0;
		content: attr(data-txt);
		line-height: 0.7;
		position: absolute;
		z-index: -1;
		font-weight: 800;
		text-transform: uppercase;
		color: transparent;
		font-family:$font-family-head;
		-webkit-text-stroke: 2px #CED4C2;
		white-space: nowrap;
		@include media-breakpoint-up(sm) {
			line-height: 0.9;
		}
	}

}
