mixin pageHead(data)
	.page-head&attributes(attributes)
		if data.title
			h1._title.-h1=data.title
		if pageUrl === 'contacts.html'
			._title.-flex
				._box
					+phone({
						phone
					})._ttl
					._txt Принимаем звонки с 10:00 до 18:00 (пн-пт).
				._box
					a(href="mailto:"+email)._ttl!=email
					._txt Принимаем звонки с 10:00 до 18:00 (пн-пт).
