.productions
	._ttl.-h2 Производство пластиковых карт
	._list
		._itm
			._icon
				include card-1.svg
			._txt Мы производим: Все виды пластиковых карт - дисконтные, клубные, платёжные, визитные, подарочные, карты персонала.
		._itm
			._icon
				include card-2.svg
			._txt Все виды карт доступа и идентификации, Смарт-карты с чипами Mifare, EM-Marine, I Code. Скретч-карты со стираемым защитным слоем.
		._itm
			._icon
				include card-3.svg
			._txt Для наших заказчиков доступны все виды персонализации пластиковых карт: кодирование магнитной полосы, эмбоссирование, нанесение скретч-полосы, индивидуального штрих-кода, нумерации, полосы для подписи.
		._itm
			._icon
				include card-4.svg
			._txt Для нашей компании не существует невыполнимого уровня сложности – мы готовы рассмотреть любые предложения и вопросы. При необходимости мы выполняем не только изготовление пластиковых карт, но и их пост обработку – чипирование, эмбоссирование, установку магнитной полосы или штрих-кода.
	+btn({
		url: '#',
		ttl: 'Наше портфолио'
	})._btn
