.productions {
	margin-top: 40px;
	max-width: 1316px;
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}
	@include media-breakpoint-up(xl) {
		padding-right: 32px;

	}
	&__ttl {
		text-transform: uppercase;
		margin: 0;

	}
	&__list {
		margin-top: 40px;
		display: flex;
		flex-flow: row wrap;
		row-gap: 15px;
		@include media-breakpoint-up(md) {
			column-gap: 15px;
		}
		@include media-breakpoint-up(xl) {
			column-gap: 60px;
			row-gap: 40px;
		}
	}
	&__itm {
		display: flex;
		@include gapOffset(1, 0);
		gap: 15px;
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 15);
		}
		@include media-breakpoint-up(xl) {
			@include gapOffset(2, 60);
			gap: 30px;
		}
	}
	&__icon {
		flex: 0 0 58px;
		max-width: 58px;
		svg , img {
			display: block;
		}
	}
	&__btn {
		margin-top: 20px;
	}
}
