.s-info {
	position: relative;
	margin-top: 40px;
	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}
	&__ttl {
		font-weight: 500;
	}
	&__bg {
		position: absolute;
		z-index: -1;
		top: convertVW(-125);
		right: 0;
		width: convertVW(238);
		height: convertVW(342);
	}
	&__img {
		display: block;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
		}
		@include media-breakpoint-up(xl) {
			gap: 64px;
		}
	}
	&__txt {
		margin-top: 15px;
		line-height: 1.3;
	}
	&__col {
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 15)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 15)
		}
		@include media-breakpoint-up(xl) {
			@include gapOffset(4, 64)
		}
	}
	&__icon {
		@include media-breakpoint-down(sm) {
			display: flex;
			align-items: center;
			gap: 10px;
			img {
				flex: 0 0 45px;
				max-width: 45px;
			}

		}
	}
}
