mixin sInfo(data)
	.s-info&attributes(attributes)
		if data.bg
			+picture({
				media: false,
				retina: false,
				img: data.bg
			})._bg
		._l-container.l-container
			._list
				._col
					if data.title
						._ttl.-h2=data.title
					if  data.desc
						._txt=data.desc
					if  data.btn
						+btn(data.btn)._btn
				each itm in data.list
					._col
						._icon
							+picture({
								media: false,
								retina: false,
								img: itm.icon
							})._img
							._txt=itm.txt

