.s-content
	+picture({
		media: false,
		retina: false,
		img: 'images/s-calc/bg.png'
	})._bg
	._l-container.l-container
		._inner
			._date 19 апреля 2024
			p Тиснение фольгой – это метод нанесения особой металлизированной пленки с помощью термопечати. Данная технология используется для выделения какого-либо отдельного элемента (логотип) или символа на пластиковой карте. Тиснение фольгой позволит придать карте карте особую элитарность и изящность.
			h3 Суть проекта
			p Даже на атомных электростанциях электричество вырабатывают посредством паровых турбин. То есть энергию атома мы покорили, но заставляем ее кипятить воду, теряя как минимум 55% энергии. Но, похоже, человечество наконец готово сделать большой шаг вперед и эффективно преобразовывать тепловую энергию в электрическую без посредничества пара.
			figure
				+picture({
					media: false,
					retina: false,
					img: 'images/s-content/img-1.png'
				})
				figcaption Caption goes here
			h3 Суть проекта
			p Даже на атомных электростанциях электричество вырабатывают посредством паровых турбин. То есть энергию атома мы покорили, но заставляем ее кипятить воду, теряя как минимум 55% энергии. Но, похоже, человечество наконец готово сделать большой шаг вперед и эффективно преобразовывать тепловую энергию в электрическую без посредничества пара.
			h3 Текст в две колонки
			.txt-clm
				p Необычное поведение кремния в термоэлектрической паре с нитридом галлия первым заметил теоретик Махмуд Хусейн из Университета Колорадо. Он обратился в отдел прикладной физики NIST, которым руководит исследовательница Крис Бертнесс. Объединенная группа изучила удивительный эффект и смогла понять принцип, благодаря которому он проявляется.
				p Разработанная в итоге технология состоит в нанесении сотен тысяч микроскопических столбцов нитрида галлия на кремниевую пластину. Взаимодействие между столбиками и подложкой замедляет передачу тепла в кремнии, позволяя сохранять разность температур и получать больше электрического тока. Выглядит непонятно? Объясняем.
			h3 Про YandexART
			p Модель формирует изображения методом каскадной диффузии: сначала генерирует картинки и кадры в соответствии с запросом пользователя, а затем поэтапно увеличивает их разрешение, насыщая деталями. Это позволяет создавать более реалистичную и детализированную графику.
			mixin carousel(data)
				.carousel&attributes(attributes)
					._swiper.swiper
						._swiper-wrapper.swiper-wrapper
							each itm in data.slides
								._swiper-slide.swiper-slide
									+picture({
										media: false,
										retina: false,
										img: itm.img
									})._img
					._prev.js-prev
						+icon('angle-left')
					._next.js-next
						+icon('angle-right')
			+carousel({
				slides: [
					{
						img: 'images/s-content/img-2.png'
					},
					{
						img: 'images/s-content/img-3.png'
					},
					{
						img: 'images/s-content/img-4.png'
					},
					{
						img: 'images/s-content/img-2.png'
					},
					{
						img: 'images/s-content/img-3.png'
					},
					{
						img: 'images/s-content/img-4.png'
					}
				]
			})
			p
				| Среди B2B-продуктов Лавки — системы для сборки заказов с полок магазинов, для управления дарксторами, ассортиментом, сменами курьеров и сборщиков, алгоритмы пополнения запасов и создания с помощью искусственного интеллекта маршрутов для курьеров. Ритейлеры также могут купить у сервиса готовое приложение, чтобы продавать свои товары клиентам, — достаточно наполнить его своим контентом.
			p
				| Решения Лавки рассчитаны как на онлайн-, так и на офлайн-торговлю. Например, эти технологии можно использовать на рынке косметики, спортивных товаров или одежды. B2B-продукты Лавки подойдут как уже состоявшемуся бизнесу, так и новому. К примеру, сетевой ритейлер может подключить себе экспресс-доставку, если её ещё нет, а начинающая компания — систему для управления ассортиментом, чтобы сэкономить на её разработке.
			._btns
				a(href="#")._btn.btn_outline.btn
					+icon('angle-left-sm')
					|Назад
				a(href="#")._btn.btn_outline.btn
					|Вперед
					+icon('angle-right-sm')
