.s-content {
	position: relative;
	margin-bottom: 50px;
	font-size: 15px;
	line-height: 160%;
	&__inner {
		max-width: 1048px;
	}
	&__bg {
		position: absolute;
		right: 0;
		top: convertVW(-96);
		width: convertVW(386);
		height: convertVW(448);
	}
	&__date {
		font-weight: 400;
		font-size: 15px;
		color: $secondary;
		margin: 15px  0;
		@include media-breakpoint-up(md) {
			margin: 60px 0 30px;
		}
	}
	p {
		margin: 0 0 35px;
	}
	&__btns {
		margin-top: 30px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;
			justify-content: space-between;
			display: flex;
		}
		.btn {
			display: flex;
			gap: 10px;
			.icon {
				font-size: 11px;
			}
		}
	}
}
figure {
	display: block;
	margin: 15px 0;
	@include media-breakpoint-up(md) {
		margin: 35px 0;
	}
	img {
		border-radius: 10px;
		display: block;
	}

}
figcaption {
	color: $secondary;
	margin-top: 10px;
	text-align: center;
}
.txt-clm {
	@include media-breakpoint-up(md) {
		column-count: 2;
		column-gap: 20px;
	}
	@include media-breakpoint-up(lg) {
	    column-gap: 50px;
	}
}
.carousel {
	margin: 15px 0;
	position: relative;
	@media (max-width: 1614px) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@include media-breakpoint-up(md) {
		margin: 35px 0;
	}

	&__prev,
	&__next {
		cursor: pointer;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);
		font-size: 50px;
	}

	&__prev {
		left: -5px;
		@media (min-width: 1615px) {
			left: auto;
			right: 100%;
			margin-right: 10px;
		}
	}
	&__next {
		right: -5px;
		@media (min-width: 1615px) {
			right: auto;
			left: 100%;
			margin-left: 10px;
		}
	}

	&__img {
		display: block;
	}

}
