.s-how-order
	._l-contaienr.l-container
		._title.-h2 Как сделать заказ
		._ttl.-h4 Сделать заказ можно любым из способов:
		._tlist
			._tlist-itm
				._tlist-num [01]
				._tlist-ttl  Сайт
				._tlist-txt
					|Воспользуйтесь
					=' '
					|калькулятором
					=' '
					|на сайте. После расчета
					br
					|стоиомсти вы сможете сделать заказ.
				+btn({
					url: '#',
					ttl: 'Рассчитать'
				})._btn
			._tlist-itm
				._tlist-num [02]
				._tlist-ttl  Телефон
				._tlist-txt
					|Сделать заказ можно по телефону
					br
					+phone({phone: '+7 800 201-21-14'})
					|. Наши менеджеры работают
					br
					|по будням с 10:00 до 18:00.
				+btn({
					url: 'tel:+78002012114',
					ttl: 'Позвонить'
				})._btn
			._tlist-itm
				._tlist-num [03]
				._tlist-ttl  Почта
				._tlist-txt
					|Сделать заказ можно по электронной почте
					br
					a(href="mailto:info@reallifeonline.ru") info@reallifeonline.ru
					|.
				+btn({
					url: 'mailto:info@reallifeonline.ru',
					ttl: 'Написать'
				})._btn
		._ttl.-h4 Процесс выполнения заказа:
		._list
			._itm
				._icon
					+picture({
						media: false,
						retina: false,
						img: 'images/s-how-order/icon-1.png'
					})._img
				._txt Назначим сроки и стоимость работ
			._itm
				._icon
					+picture({
						media: false,
						retina: false,
						img: 'images/s-how-order/icon-2.png'
					})._img
				._txt Разработаем дизайн, если у вас нет макета или внесем корректировки и доработаем ваш макет
			._itm
				._icon
					+picture({
						media: false,
						retina: false,
						img: 'images/s-how-order/icon-3.png'
					})._img
				._txt Согласуем изготовленный макет карт
			._itm
				._icon
					+picture({
						media: false,
						retina: false,
						img: 'images/s-how-order/icon-4.png'
					})._img
				._txt Напечатаем тираж карт
		._footnote
			+icon('asterisk')
			|Напечатаем тираж карт
		+picture({
			media: false,
			retina: false,
			img: 'images/s-how-order/bg-1.png'
		})._bg.-pict-1
		+picture({
			media: false,
			retina: false,
			img: 'images/s-how-order/bg-2.png'
		})._bg.-pict-2
