.s-how-order  {
	padding: 40px 0;
	position: relative;
	overflow: hidden;
	@include media-breakpoint-up(md) {
		padding: 80px 0;
	}
	&__ttl {
		margin: 0 0 15px;
		@include media-breakpoint-up(md) {
			margin: 0 0 30px;
		}
	}
	&__tlist {
		margin-bottom: 25px;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.5);
		padding: 15px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			margin-bottom: 50px;
			justify-content: center;
			flex-flow: row wrap;
		}
		@include media-breakpoint-up(lg) {
			padding: 30px;
			gap: 30px;
		}
		&-itm {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			@include media-breakpoint-up(md) {
				@include gapOffset(2, 15)
			}
			@include media-breakpoint-up(lg) {
				@include gapOffset(3, 30)
			}
		}
		&-num {
			color: $secondary;
			font-weight: 400;
			font-size: 13px;
			line-height: 100%;
		}
		&-ttl {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
			color: #000;
			margin-top: 15px;
			@include media-breakpoint-up(lg) {
				margin-top: 60px;

			}
		}
	}
	&__btn {
		margin-top: 15px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
		}
		@include media-breakpoint-up(lg) {
			gap: 24px;
		}
	}
	&__itm {
		border-radius: 10px;
		padding: 15px;
		background: rgba(255, 255, 255, 0.5);
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 15)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 24);
			padding: 30px;
		}
	}
	&__icon {}
	&__img {
		display: block;
	}
	&__txt {
		margin-top: 20px;
	}
	&__footnote {
		margin-top: 15px;
		display: inline-flex;
		align-items: center;
		gap: 15px;
		@include media-breakpoint-up(lg) {
			margin-top: 30px;
		}
		.icon {
			font-size: 30px;
			min-width: 30px;
			color: $danger;
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		&_pict-1 {
			width: convertVW(468);
			height: convertVW(388);
			top: convertVW(339);
			left: convertVW(52);
		}
		&_pict-2 {
			width: convertVW(578);
			height: convertVW(397);
			top: convertVW(242);
			right: convertVW(105);
		}
	}

}
a[href^="tel:"] {
	border: none;
}
