.s-main-banner
	+picture({
		media: false,
		retina: false,
		img: 'images/s-main-banner/img-1.png'
	})._img-bg.-pict-1
	+picture({
		media: false,
		retina: false,
		img: 'images/s-main-banner/img-2.png'
	})._img-bg.-pict-2
	+picture({
		media: false,
		retina: false,
		img: 'images/s-main-banner/img-3.png'
	})._img-bg.-pict-3

	._l-container.l-container
		._head
			._count Тираж от 50 штук
			h1._title
				span Изготовление
				span пластиковых
				span карт
				+picture({
					media: false,
					retina: false,
					img: 'images/s-main-banner/card-1.png'
				})._img-bg.-pict-4
				+picture({
					media: false,
					retina: false,
					img: 'images/s-main-banner/card-2.png'
				})._img-bg.-pict-5
				+picture({
					media: false,
					retina: false,
					img: 'images/s-main-banner/card-3.png'
				})._img-bg.-pict-6
		._desc
			._desc-in
				._ttl Рассчитайте стоимость
				._txt В нашем калькуляторе вы сможете узнать точную стоимость изготовления и доставки
				+btn({
					url: '#',
					ttl: 'Калькулятор онлайн'
				})._btn
		include ../productions/productions

