.s-main-banner {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 25px 25px;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		border-radius: 0 0 50px 50px;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	&__count {
		position: absolute;
		font-weight: 400;
		font-size: convertVW(27);
		color: $secondary;
		text-transform: uppercase;
		top: 6%;
		left: convertVW(900);
	}
	&__img-bg {
		display: block;
		position: absolute;
		z-index: -1;
		&_pict-1 {
			top: convertVW(-18);
			left: convertVW(589);
			width: convertVW(997);
			height: convertVW(620);
		}
		&_pict-2 {
			top: convertVW(-120);
			right: convertVW(0);
			width: convertVW(224);
			height: convertVW(401);
		}
		&_pict-3 {
			top: convertVW(550);
			left: 0;
			width: convertVW(251);
			height: convertVW(373);
		}
		&_pict-4 {
			top: 13%;
			left: percentage(17/1584);
			width: percentage(591/1584);
			z-index: 3;
		}
		&_pict-5 {
			top: 59%;
			left: 31%;
			width: percentage(591/1584);
		}
		&_pict-6 {
			top: 81%;
			left: 64%;
			width: percentage(567/1584);
			z-index: -2;
		}
	}
	&__head {
		position: relative;
	}
	&__title {
		margin: 0;
		position: relative;
		font-weight: 800;
		font-size: convertVW(100);
		line-height: 1;
		letter-spacing: convertVW(-5);
		margin-bottom: convertVW(252);
		span {
			display: block;
			&:nth-child(2){
				margin-top: convertVW(45);
				margin-left: percentage(576/1584);
			}
			&:nth-child(3){
				margin-top: convertVW(45);
				margin-left: percentage(900/1584);
				text-align: right;
			}
		}
	}
	&__desc {
		max-width: 1316px;
		margin: 0 auto;
		&-in {
			max-width: 376px;

		}
	}
	&__ttl {
		font-weight: 500;
		font-size: 22px;
	}
	&__txt {
		margin-top: 10px;
		color: $secondary;
	}
	&__btn {
		margin-top: 20px;
	}
}
