.card-info {
	margin-top: 50px;
	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: space-between;
	}
	&__pict {
		@include media-breakpoint-up(lg) {
			flex: percentage(877/1584);
			max-width: percentage(877/1584);
		}
	}
	&__desc {
		margin-top: 20px;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			flex: percentage(613/1584);
			max-width: percentage(613/1584);
		}
	}
	&__img {
		display: block;
		width: 100%;
	}
	&__ttl {
		font-weight: 500;
		font-size: 22px;
		color: #000;
	}
	&__list {
		margin-top: 30px;
	}
	&__itm {
		margin-top: 10px;
		display: flex;
		gap: 20px;
		align-items: center;
		@include media-breakpoint-up(md) {
			margin-top: 20px;
		}
	}
	&__icon {
		max-width: 45px;
		height: 45px;
		object-fit: contain;
		flex: 0 0 45px;
	}
	&__btn {
		margin-top: 20px;
	}

}
