-
	var cardList = [
		{
			icon: 'images/card-info/icon-1.png',
			txt: 'Макеты должны быть подготовлены в цветовой схеме CMYK.'
		},
		{
			icon: 'images/card-info/icon-2.png',
			txt: 'Все шрифты должны быть переведены в кривые.'
		},
		{
			icon: 'images/card-info/icon-3.png',
			txt: 'Макет для печати должен быть подготовлен в дообрезном формате 92х60 мм без скругления углов.'
		},
		{
			icon: 'images/card-info/icon-4.png',
			txt: 'Размер карты после вырубки составит 86х54 мм.'
		},
		{
			icon: 'images/card-info/icon-5.png',
			txt: 'Отступы от важных элементов до края карты примерно 5 мм.'
		},
		{
			icon: 'images/card-info/icon-6.png',
			txt: 'Погрешность вырубки - 1мм.'
		}
	]
.card-info
	._pict
		+picture({
			media: false,
			retina: false,
			img: 'images/card-info/card.png'
		})._img
	._desc
		._ttl Эти требования позволят вам разработать качественный макет и сэкономить время
		._list
			each itm in cardList
				._itm
					+picture({
						media: false,
						retina: false,
						img: itm.icon
					})._icon
					._txt!=itm.txt

		+btn({
			ttl: 'Сделать расчет'
		})._btn
