.s-portfolio {
	margin-top: 30px;
	padding-bottom: 40px;
	@include media-breakpoint-up(md) {
		padding-bottom: 80px;

	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			gap: 24px;
		}
	}
	&__img {
		object-fit: cover;
		width: 100%;
		border-radius: 10px;
	}
	&__row {
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
			gap: convertVW(24);
			height: convertVW(644);
		}

	}
	@include media-breakpoint-up(md) {
		&__row_type-1 &__itm:nth-child(1) img {
			height: convertVW(644);
		}
		&__row_type-1 &__itm:nth-child(2) img {
			height: convertVW(270);
		}
		&__row_type-1 &__itm:nth-child(3) img {
			height: convertVW(350);
		}
		&__row_type-1 &__itm:nth-child(4) img {
			height: convertVW(350);
		}
		&__row_type-1 &__itm:nth-child(5) img {
			height: convertVW(270);
		}
	}
	&__itm {
		@include media-breakpoint-up(md) {
		    max-width: calc(100%/3 - 2*1.25vw/3);
		    min-width: calc(100%/3 - 2*1.25vw/3);
		}
	}
	@include media-breakpoint-up(md) {
		&__row_type-2 &__itm:nth-child(1) img {
			height: convertVW(270);
		}
		&__row_type-2 &__itm:nth-child(2) img {
			height: convertVW(350);
		}
		&__row_type-2 &__itm:nth-child(3) {
			max-width: calc(100%/3*2 - 1.25vw/2);
			min-width: calc(100%/3*2 - .25vw/2);
		}
		&__row_type-2 &__itm:nth-child(3) img {
			height: convertVW(644);
		}
	}
	@include media-breakpoint-up(md) {
		&__row_type-3 &__itm:nth-child(2) img {
			height: convertVW(270);
		}
		&__row_type-3 &__itm:nth-child(3) img {
			height: convertVW(350);
		}
		&__row_type-3 &__itm:nth-child(1) {
			max-width: calc(100%/3*2 - 1.25vw/2);
			min-width: calc(100%/3*2 - .25vw/2);
		}
		&__row_type-3 &__itm:nth-child(1) img {
			height: convertVW(644);
		}
	}
	@include media-breakpoint-up(md) {
		&__row_type-4 &__itm:nth-child(1) img {
			height: convertVW(270);
		}
		&__row_type-4 &__itm:nth-child(2) img {
			height: convertVW(350);
		}
		&__row_type-4 &__itm:nth-child(3) img {
			height: convertVW(350);
		}
		&__row_type-4 &__itm:nth-child(4) img {
			height: convertVW(270);
		}
		&__row_type-4 &__itm:nth-child(5) img {
			height: convertVW(644);
		}
	}
	&__btns {
		text-align: center;
		margin-top: 30px;
	}
	&__btn {
	}
}
