-
	var portflolio = [
		{
			images: [
				'images/s-portfolio/img-1.png',
				'images/s-portfolio/img-2.png',
				'images/s-portfolio/img-3.png',
				'images/s-portfolio/img-4.png',
				'images/s-portfolio/img-5.png',

			]
		},
		{
			images: [
				'images/s-portfolio/img-6.png',
				'images/s-portfolio/img-7.png',
				'images/s-portfolio/img-8.png',
			]
		},
		{
			images: [

				'images/s-portfolio/img-9.png',
				'images/s-portfolio/img-10.png',
				'images/s-portfolio/img-11.png',
			]
		},
		{
			images: [
				'images/s-portfolio/img-12.png',
				'images/s-portfolio/img-13.png',
				'images/s-portfolio/img-14.png',
				'images/s-portfolio/img-15.png',
				'images/s-portfolio/img-16.png',
			]
		}
	]
.s-portfolio
	._list
		each row, i in portflolio
			._row( class="s-portfolio__row_type-"+(i+1))
				each itm in row.images
					._itm
						a(href="#popup" data-popup='#popup' )._lnk
							+picture({
								media: false,
								retina: false,
								img: itm
							})._img
	._btns
		+btn({
			ttl: 'Сделать рассчет заказа'
		})._btn


