.s-advantages {
	margin-top: 40px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}
	&__l-container {
		position: relative;
		@include media-breakpoint-up(lg) {
			display: flex;
		}
	}
	&__bg {
		width: convertVW(228);
		height: convertVW(342);
		position: absolute;
		z-index: -1;
		top: 10px;
		right: 0;
	}
	&__head {
		@include media-breakpoint-up(lg) {
			flex: 0 0 410px;
			max-width: 410px;

		}
	}
	&__btn {
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 40px;
		}
	}
	&__list {
		margin-top: 40px;
		@include media-breakpoint-up(md) {
			margin-top: 40px;
			flex-flow: row wrap;
			display: flex;
			gap: 15px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			row-gap: 50px;
		}
	}
	&__itm {
		display: flex;
		gap: 10px;
		margin-top: 10px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			@include gapOffset(2, 15)
		}
		@include media-breakpoint-up(lg) {
			gap: 20px;

		}
	}
	&__num {
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
	}
	&__txt {
		margin-top: 10px;
	}
}
