-
	var list = [
		{ttl: 'Сделать рассчет'},
		{ttl: 'Минимальные сроки исполнения заказов'},
		{ttl: 'Опыт производства более 11 лет'},
		{ttl: 'Компетентная работа с крупными компаниями и гос. учреждениями'},
		{ttl: 'Энергичная команда (средний возраст 30 лет)'},
		{ttl: 'Работа по всей России'},
		{ttl: 'Ответственное отношение к документообороту'},
		{ttl: 'Новое оборудование'},
		{ttl: 'Продвинутые технологии в ведении бизнеса'},
		{ttl: 'Нам не всё равно'},
	]
.s-advantages
	+picture({
		retina: false,
		media: false,
		img: 'images/s-advantages/img-1.png'
	})._bg
	._l-container.l-container
		._head
			._title.-h2
				|Почему
				br
				|нас выбирают
				br
				|и рекомендуют
			+btn({
				ttl: 'Сделать рассчет'
			})._btn.-hidden-tablet.-hidden-phone
		._list
			each itm, i in list
				._itm
					._num
						|[
						=(i>=9? (i+1): '0'+(i+1))
						|]
					._txt=itm.ttl
		+btn({
			ttl: 'Сделать рассчет'
		})._btn.-hidden-desktop
