@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-angle-down {
    width: (16 / 10) * 1em;
}
.icon-angle-left {
    width: (27 / 51) * 1em;
}
.icon-angle-left-sm {
    width: (7 / 12) * 1em;
}
.icon-angle-right {
    width: (27 / 51) * 1em;
}
.icon-angle-right-sm {
    width: (7 / 12) * 1em;
}
.icon-asterisk {
    width: (30 / 30) * 1em;
}
.icon-close {
    width: (16 / 16) * 1em;
}
.icon-download {
    width: (33 / 40) * 1em;
}
.icon-file {
    width: (18 / 25) * 1em;
}
.icon-info {
    width: (18 / 18) * 1em;
}
.icon-mail {
    width: (16 / 16) * 1em;
}
.icon-minus {
    width: (14 / 1) * 1em;
}
.icon-phone {
    width: (24 / 24) * 1em;
}
.icon-plus {
    width: (14 / 15) * 1em;
}
.icon-telegram {
    width: (16 / 17) * 1em;
}
