.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1000;
	background-color: transparent;
	visibility: hidden;
	transition: background-color $animation-base-time, visibility $animation-base-time;
	&.is-open {
		visibility: visible;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		background-color: rgba(#000, 0.5);
	}
	&.is-open &__in {
		transform: translateX(0);
	}
	&.is-open &__overflow {
		opacity: 1;
		visibility: visible;
	}
	&__in {
		position: relative;
		transform: translateX(-100%);
		transition: transform $animation-base-time;
		padding: 15px;
		background-color: #FFF;
		max-width: 420px;
		width: 100%;
		@include media-breakpoint-up(md) {
			padding: 40px;
		}
	}
	img {
		display: block;
		width: 100%;
		margin: 15px 0;
		@include media-breakpoint-up(md) {
			margin: 35px 0;
		}
	}
	&__desc {
		color: $secondary;
		margin: 15px 0;
		@include media-breakpoint-up(md) {
			margin: 35px 0;
		}
	}
	&__back {
		display: inline-flex;
		align-items: center;
		margin-top: 20px;
		color: inherit;
		font-weight: 700;
		border: none;
		gap: 10px;
	}
}
html {
	&.is-popup-open {
		overflow: hidden;
		height: auto;
		body {
			overflow: hidden;
		}
	}
}
