.popup#popup
	._in
		._title.-h2 Пластиковые карты ключи Ving для гостиниц
		._desc
			p Ключ-карта стандарта MF1K применяется в системе электронных замков VingCard. Компания Assa Abloy Hospitality, является производителем систем VingCard. Карты для этих систем защищены от подделок усиленной защитой, поэтому в замках Винг Кард невозможно использовать обычные бесконтактные карты.
			p Ключ-карта стандарта MF1K применяется в системе электронных замков VingCard. Компания Assa Abloy Hospitality, является производителем систем VingCard. Карты для этих систем защищены от подделок усиленной защитой, поэтому в замках Винг Кард невозможно использовать обычные бесконтактные карты.
		+picture({
			media: false,
			retina: false,
			img: 'images/s-portfolio/img-big.jpeg'
		})._img

		a(href="#")._back.js-popup-close ⟵   Назад
