head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content="IE=edge")
	meta(name='viewport', content='initial-scale=1.0, width=device-width')
	meta(name='mobile-web-app-capable', content='yes')
	meta(name='application-name', content="")
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
	meta(name='apple-mobile-web-app-title' content="")
	meta(name='msapplication-TileImage', content=`${baseDir}images/favicons/mstile-144x144.png`)
	meta(name='msapplication-config', content=`${baseDir}images/favicons/browserconfig.xml`)

	title #{title}

	link(rel='shortcut icon', href='/images/favicons/favicon.ico')
	link(rel='icon', type='image/png', sizes='16x16', href=`${baseDir}images/favicons/favicon-16x16.png`)
	link(rel='icon', type='image/png', sizes='32x32', href=`${baseDir}images/favicons/favicon-32x32.png`)
	link(rel='icon', type='image/png', sizes='48x48', href=`${baseDir}images/favicons/favicon-48x48.png`)
	link(rel='manifest', href='/images/favicons/manifest.json')
	link(rel='apple-touch-icon', sizes='57x57', href=`${baseDir}images/favicons/apple-touch-icon-57x57.png`)
	link(rel='apple-touch-icon', sizes='60x60', href=`${baseDir}images/favicons/apple-touch-icon-60x60.png`)
	link(rel='apple-touch-icon', sizes='72x72', href=`${baseDir}images/favicons/apple-touch-icon-72x72.png`)
	link(rel='apple-touch-icon', sizes='76x76', href=`${baseDir}images/favicons/apple-touch-icon-76x76.png`)
	link(rel='apple-touch-icon', sizes='114x114', href=`${baseDir}images/favicons/apple-touch-icon-114x114.png`)
	link(rel='apple-touch-icon', sizes='120x120', href=`${baseDir}images/favicons/apple-touch-icon-120x120.png`)
	link(rel='apple-touch-icon', sizes='144x144', href=`${baseDir}images/favicons/apple-touch-icon-144x144.png`)
	link(rel='apple-touch-icon', sizes='152x152', href=`${baseDir}images/favicons/apple-touch-icon-152x152.png`)
	link(rel='apple-touch-icon', sizes='167x167', href=`${baseDir}images/favicons/apple-touch-icon-167x167.png`)
	link(rel='apple-touch-icon', sizes='180x180', href=`${baseDir}images/favicons/apple-touch-icon-180x180.png`)
	link(rel='apple-touch-icon', sizes='1024x1024', href=`${baseDir}images/favicons/apple-touch-icon-1024x1024.png`)
	link(rel='icon', type='image/png', sizes='228x228', href=`${baseDir}images/favicons/coast-228x228.png`)
	link(rel='yandex-tableau-widget', href=`${baseDir}images/favicons/yandex-browser-manifest.json`)
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
	link(rel='stylesheet', href=`${baseDir}css/main.css`)


