.s-header
	._l-container.l-container
		button(type="button")._burger.-hidden-desktop
			span
		a(href="/home.html")._logo
			include ../../images/include/logo.svg
		nav._menus#mobile-menu
			ul._tmenu
				each itm in topMenu
					li._tmenu-itm
						a(
							href=itm.url
							class=itm.url ===pageUrl ? 'is-selected': ''
						)._tmenu-lnk=itm.ttl
			ul._menu
				each itm in menu
					li._menu-itm
						a(
							href=itm.url
							class=itm.url === pageUrl ? 'is-selected': ''
						)._menu-lnk=itm.ttl
		._contacts
			._messengers
				a(href="mailto:"+email)._messengers-lnk=email
						+icon('mail')
				a(href="https://t.me/"+telegram)._messengers-lnk=telegram
					+icon('telegram')
			._phone
				+phone({
					icon: 'phone',
					phone
				})._phone-lnk
				._phone-footnote Звонок по РФ бесплатный
