.s-header {
	flex: 0 0 auto;
	background-color: #F6F7F4;
	height: 52px;
	@include media-breakpoint-up(md) {
		height: 71px;
	}
	@include media-breakpoint-up(lg) {
		height: auto;
	}

	&__l-container {
		background-color: #F6F7F4;
		display: flex;
		padding-top: 10px;
		padding-bottom: 10px;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		@include media-breakpoint-up(lg) {
			padding-top: 20px;
			padding-bottom: 20px;
			position: static;
		}
	}
	&__logo {
		border: none;
		svg, img {
			display: block;
			height: 32px;
			width: 120px;
			@include media-breakpoint-up(xsm) {
				height: 44px;
				width: 235px;
			}
		}
	}
	&__menus {
		gap: 25px;
		position: absolute;
		background-color: #F6F7F4;
		top: 100%;
		left: 0;
		padding: 15px;
		width: 100%;
		display: none;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
			position: static;
			flex: 1 0 0;
			padding-left: 70px;
			gap: 10px;
			display: flex;
			flex-direction: column;
		}
		@include media-breakpoint-up(xl) {
			padding-left: 15px;
			gap: 25px;
		}
		@include media-breakpoint-up(xxl) {
			padding-left: 70px;

		}
	}
	&__tmenu {
		list-style: none;
		margin: 0;
		padding: 0;
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 50px;
		}
		&-itm {
			&:not(:first-child) {
				margin-top: 10px;
				@include media-breakpoint-up(lg) {
					margin: 0;
				}
			}
		}
		&-lnk {
			color: $secondary;
			border-bottom-color: transparent;
			&.is-selected,
			&:hover {
				border-bottom-color: currentColor;
			}
		}
	}
	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
		@include media-breakpoint-up(lg) {
			display: flex;
		}
		&-itm {
			font-size: 15px;
			margin-top: 10px;
			@include media-breakpoint-up(lg) {
				margin: 0;
			}
			@include media-breakpoint-up(lg) {
				line-height: 0.83;
				font-size: 13px;
			}
			@include media-breakpoint-up(xxxl) {
				font-size: 18px;
			}
			&:not(:first-child) {
				@include media-breakpoint-up(md) {
					display: flex;
					align-items: center;
				}
				&:before {
					@include media-breakpoint-up(lg) {
						display: block;
						content: '/';
						margin: 0 15px;
						color: $secondary;
					}
					@include media-breakpoint-up(xxl) {
						margin: 0 40px;
					}
				}
			}
		}
		&-lnk {
			display: block;
			border-bottom-color: transparent;
			color: $dark;
			&.is-selected,
			&:hover {
				border-bottom-color: currentColor;
			}
		}
	}
	&__contacts {
		display: flex;
		margin-left: auto;
		gap: 10px;
		@include media-breakpoint-up(xl) {
			gap: 30px;
		}
	}
	&__messengers {
		font-weight: 300;
		font-size: 16px;
		line-height: 100%;
		display: flex;
		flex-flow: row nowrap;
		gap: 10px;
		@include media-breakpoint-up(xxl) {
			flex-direction: column;
			align-items: flex-end;
		}
		&-lnk {
			font-weight: 300;
			font-size: 0;
			line-height: 0;
			display: flex;
			align-items: center;
			gap: 9px;
			border: none;
			@include media-breakpoint-up(xl) {
				font-size: 16px;
				line-height: 1;
			}
		}
		.icon {
			color: $dark;
			font-size: 20px;
			display: block;
			@include media-breakpoint-up(xl) {
				font-size: 13px;
			}
		}
	}
	&__phone {
		white-space: nowrap;
		&-lnk {
			color: inherit;
			border: none;
			display: block;
			font-size: 0;
			line-height: 0;;
			@include media-breakpoint-up(xl) {
				font-size: 25px;
				line-height: 1;
			}
			.icon {
				font-size: 20px;
				display: block;
				@include media-breakpoint-up(xl) {
					display: none;

				}
			}
		}
		&-footnote {
			margin-top: 6px;
			color: $secondary;
			font-size: 14px;
			line-height: 1;
			display: none;
			@include media-breakpoint-up(xl) {
				display: block;

			}
		}
	}
	&__burger {
		flex: 0 0 30px;
		height: 30px;
		background-color: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		margin-right: 20px;
		position: relative;
		@include media-breakpoint-up(md) {
			margin-right: 30px;
		}
		span {
			width: 30px;
			height: 3px;
			background-color: $dark;
			position: absolute;
			border-radius: 2px;
			@include center;
			transition: background-color $animation-base-time;
			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $dark;
				border-radius: 2px;
				transition: transform $animation-base-time, top $animation-base-time, bottom $animation-base-time;
			}
			&:before {
				top: -8px;
			}
			&:after {
				bottom: -8px;
			}
		}
		&.is-active span {
			background-color: transparent;
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
