.filter {
	margin-top: 30px;
	display: flex;
	gap: 15px;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		flex-flow: row wrap;
	}
	&__itm {
		@include media-breakpoint-up(md) {
			@include gapOffset(4, 15)

		}
	}
}
