.filter
	._itm
		select.js-select(data-placeholder="Тип карты")
			option(value="")
			option Пластиковые карты 1
			option(selected) Пластиковые карты 2
			option Пластиковые карты 3
			option Пластиковые карты 4
	._itm
		select.js-select(data-placeholder="Пластик")
			option(value="")
			option Пластик 1
			option Пластик 2
			option Пластик 3
			option Пластик 4
	._itm
		select.js-select()
			option Глянец 1
			option Глянец 2
			option Глянец 3
			option Глянец 4
	._itm
		select.js-select(data-placeholder="Опции")
			option(value="")
			option Опции 1
			option Опции 2
			option Опции 3
			option Опции 4
