.s-maps {
	padding-top: 40px;
	padding-bottom: 25px;
	box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.04);
	background: rgba(255, 255, 255, 0.5);
	@include media-breakpoint-up(md) {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	&__head {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		gap: 15px;
		@include media-breakpoint-up(lg) {
			gap: 30px;
		}
	}
	&__title {
		margin: 0!important;
	}
	&__box {
		margin-top: 25px;
	}
}
