.s-maps.-top-round
	._l-container.l-container
		._head
			._title.-h2 Доставляем заказы по всей РФ
			+btn({
				ttl: "Найти пункт выдачи на карте"
			}).btn_outline
			+btn({
				ttl: "Контакты"
			})
		._box
			+picture({
				media: false,
				retina: false,
				img: 'images/s-maps/map.png'
			})
