@function convertVW($size, $base: 1920) {
	@return $size/$base*100vw;
}
html {
	font-size:62.5%;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	color: $font-base-color;
	background: $light;
	@include base-text-style;
}
* {
	box-sizing: border-box;
}
.lnk,
a {
	text-decoration: none;
	transition: border-bottom-color $animation-base-time;
	border-bottom: 1px solid;
	color: $font-link-color;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		border-bottom-color: transparent;
	}
	&_reverse {
		border-bottom-color: transparent;
		&:hover {
			border-bottom-color: currentColor;
		}
	}
}
ul {
	marker-offset: -10px;
}
.l-main {
	flex: 1 0 auto;
}
.l-container {
	width: 100%;
	max-width: (1584 + 30) *1px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
p {
	margin: 21px 0 0;
}
img {
	display: block;
	max-width: 100%;
}

.block-white {
	box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.04);
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
}
.hint {
	position: relative;
	&:not(:hover) &__txt {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
	&__txt {
		max-width: 150px;
		width: max-content;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 11px;
		line-height: 1.2;
		z-index: 89;
		padding: 5px;
		border-radius: 5px;
		background-color: #FFF;
		margin-bottom: 5px;
		transition: visibility $animation-base-time, opacity $animation-base-time;


		&:before {
			content: '';
			width: 7px;
			height: 7px;
			transform: rotate(45deg) translateX(-50%);
			background-color: #FFF;
			position: absolute;
			top: 100%;
			left: 50%;
		}
	}
}
.chars {
	&__itm {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 3px;
		margin-top: 10px;
		&:before {
			order: 2;
			content: '';
			flex: 1 0 0;
			border-bottom: 1px dashed $secondary;
		}

	}
	&__ttl {
		order: 1;
	}
	&__val {
		order: 3;
	}
}
.choice {
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	margin: 30px 0 0;
	&__itm {
		position: relative;
		border: 1px dashed $secondary;
		border-radius: 10px;
		padding: 10px 15px;
		line-height: 17px;
		font-weight: 400;
		font-size: 14px;
		color: #000;
		z-index: 3;

		gap: 10px;
		@include media-breakpoint-down(sm) {
			width: 100%;

		}
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
		}
		@include media-breakpoint-up(xl) {
			font-size: 15px;
			padding: 16px 25px;
			line-height: 21px;
		}
	}
	&__ttl {
		color: $secondary;
	}
	&__val {
		color: #000;

	}
	&__file {
		display: flex;
		align-items: center;
		border: none;
		color: inherit;
		font-weight: 500;
		gap: 10px;
		span {
			word-wrap: break-word;
			display: block;
			max-width: calc(100% - 45px);
		}
		.icon {
			font-size: 25px;
		}
	}
}
.file-lnk {
	display: flex;
	align-items: center;
	border: none;
	color: inherit;
	font-weight: 500;
	gap: 10px;
	span {
		display: block;
		@include media-breakpoint-down(sm) {
			word-wrap: break-word;
			max-width: calc(100% - 45px);
		}
	}
	.icon {
		font-size: 25px;
	}
}
