.btn {
	border: none;
	display: inline-flex;
	align-items: center;
	outline: none;
	box-shadow: none;
	position: relative;
	border-radius: 150px;
	padding: 17px 35px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: $dark;
	background: linear-gradient(90deg, rgba(255, 204, 0, 0.3) 0%, rgba(238, 137, 255, 0.3) 100%);
	z-index: 1;
	transition: background $animation-base-time ease-out;
	justify-content: center;
	&:hover {
		background-color: rgba(255, 204, 0, 0.6)
	}
	&_outline {
		background: linear-gradient(90deg, rgba(255, 204, 0, 0.3) 0%, rgba(238, 137, 255, 0.3) 100%);
		&:before {
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background: linear-gradient(90deg, #1A52E1 0%, #F569E7 100%);
		}
		&:before,
		&:after {
			content: '';
			border-radius: inherit;
			z-index: -1;
			@include center;
			transition: opacity $animation-base-time
		}
		&:after {
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			background: #F6F7F4;
		}
		&:hover {
			&:after,
			&:before {
				opacity: 0;
			}
		}
	}
	&_md {
		padding: 10px 20px;
	}
	&_fluid {
		width: 100%;
		display: flex;
	}

}
