.custom-select {
	position: relative;
	margin: 8px 0 0;
	width: 392px;
	max-width: 100%;
	z-index: 3;
	&.is-change &__clear {
		visibility: visible;
		position: static;
		opacity: 1;
	}
	&.is-open {
		z-index: 101;
	}
	&.is-open &__head {
		border: 1px solid var(--grey);
	}
	&.is-open &__arrow {
		transform: rotate(180deg);
	}
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var(--border);
		cursor: pointer;
		transition: border-color 0.3s;
		gap: 15px;
		border-radius: 10px;
		padding: 18px 20px 17px 20px;
		&:before {
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background: linear-gradient(90deg, #1A52E1 0%, #F569E7 100%);
			top: 1px;
			left: 1px;
		}
		&:before,
		&:after {
			content: '';
			border-radius: 10px;
			z-index: -1;
			position: absolute;
		}
		&:after {
			top: 2px;
			left: 2px;
			border-radius: 9px;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			background: #F6F7F4;
		}

	}
	&__ttl {
		max-width: calc(100% - 41px);
		color: var(--black);
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: color 0.3s ;

		&_has-placeholder {
			color: $secondary;
		}
	}
	&__clear {
		fill: $danger;
		margin-left: auto;
		display: block;
		position: absolute;
		visibility: hidden;
		opacity: 1;
		transition: opacity $animation-base-time;

	}
	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color:#F6F7F4;
		z-index: 100;
		border-radius: 4px;
		padding: 8px 0;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 216px;
		&::-webkit-scrollbar {
			height: 20px;
			width: 20px;
		}
		&::-webkit-scrollbar-track {
			background-color: #F6F7F4;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $secondary;
			border-radius: 10px;
			border: 8px solid #F6F7F4;
			width: 4px;
		}
	}
	&__itm {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 16px;
		line-height: 1.5;
		padding: 8px 16px;
		transition: background $animation-base-time;
		&:hover {
			background-color: rgba(255, 204, 0, 0.6)
		}
		&.is-selected {
			background: linear-gradient(90deg, rgba(255, 204, 0, 0.3) 0%, rgba(238, 137, 255, 0.3) 100%);
		}
	}
	&__img {
		max-width: 24px;
		display: block;
		height: 24px;
		flex: 0 0 24px;

	}
	&__arrow {
		transition: transform 0.3s;
	}

}
.counter {
	display: flex;
	position: relative;
	z-index: 2;
	overflow: hidden;
	&:after,
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
	}
	&:after {
		top: 1px;
		left: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background-color: #FFF;
		border-radius: 9px;
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background: $secondary-gradient;
	}
	&__input {
		height: 55px;
		width: calc(100% - 120px);
		border: none;
		padding: 0;
		text-align: center;
		border-left: 1px solid #1A52E1;
		border-right: 1px solid #1A52E1;
		outline: none;
		box-shadow: none;
		background: transparent;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 59px;
		border: none;
		outline: none;
		box-shadow: none;
		cursor: pointer;
		background: transparent;
		transition: color $animation-base-time, background $animation-base-time;
		color: $dark;
		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
		&:hover:not(:disabled) {
			color: #FFF;
		}
		.icon {
			width: 18px;
			height: 18px;
			display: block;
		}
		&_plus {
			margin: 1px 1px 1px 0;
			border-radius: 0 8px 8px 0px;
			&:hover:not(:disabled) {
				background: #F569E7;

			}
		}
		&_minus {
			margin: 1px 0 1px 1px;
			border-radius: 8px 0 0 8px;
			&:hover:not(:disabled) {
				background: #1A52E1;
			}
		}
	}
}
.input {
	&__border {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		z-index: 1;
		&:after,
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
		}
		&:after {
			top: 1px;
			left: 1px;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background-color: #FAFAF8;
			border-radius: 9px;
		}
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background: $secondary-gradient;
		}
	}
	&__field {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
		display: block;
		resize: none;
		padding: 17px 20px;
		border: none;
		outline: none;
		background: transparent;
		&::placeholder {
			color: $secondary;
			opacity: 1;

		}
	}
	textarea {
		height: 130px;
	}
	&.is-invalid &__border {
		&:before {
			background: $danger;
		}
	}
	&.is-invalid &__error {
		display: block;
	}
	&__error {
		font-size: 12px;
		display: none;
		color: $danger;
	}
}
.radio {
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
	font-size: 14px;
	&__input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	&__input:checked ~ &__label &__field {
		&:after {
			opacity: 1;
		}
	}
	&__label {
		display: inline-flex;
		align-items: center;
		gap: 7px;
		cursor: pointer;
	}
	&__field {
		position: relative;
		width: 22px;
		flex: 0 0 22px;
		border-radius: 100%;
		height: 22px;
		cursor: pointer;
		background: $secondary-gradient;
		&:before {
			border-radius: 100%;
			position: absolute;
			top: 1px;
			left: 1px;
			content: '';
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background-color: #FAFAF8;;
		}
		&:after {
			content: '';
			border-radius: 100%;
			@include center;
			width: 10px;
			height: 10px;
			opacity: 0;
			background: $dark;
			transition: opacity $animation-base-time;
		}

	}
}
