@mixin device($class, $breakpoints: $device-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@if($breakpoint == 'phone') {
			@include modifier(#{$class}-phone) {
				@include media-breakpoint-down(sm) {
					@content;
				}
			}
		}
		@if($breakpoint == 'tablet') {
			@include modifier(#{$class}-tablet) {
				@include media-breakpoint-between(md, md) {
					@content;
				}
			}
		}
		@if($breakpoint == 'desktop') {
			@include modifier(#{$class}-desktop) {
				@include media-breakpoint-up(lg) {
					@content;
				}
			}
		}
	}
}

@include modifier(fw-normal) {
	font-weight: 400;
}
@include modifier(fw-medium) {
	font-weight: 500;
}

@include modifier(fw-semibold) {
	font-weight: 600;
}
@include modifier(fw-bold) {
	font-weight: 700;
}
@include modifier(italic) {
	font-style: italic;
}

@include device(hidden) {
	display: none!important;
}
@include modifier(hide) {
	display: none;
}

@include modifier(mt-0) {
	margin-top: 0;
}
@include modifier(pt-0) {
	padding-top: 0;
}
@include modifier(pt-40) {
	padding-top: 40px;
}
@include media-breakpoint-up(lg) {
	@include modifier(lg-pt-0) {
		padding-top: 0;
	}
}

@include modifier(pb-0) {
	padding-bottom: 0;
}
@include modifier(h1) {
	@include text-style-h1();
}
@include modifier(h2) {
	@include text-style-h2();
}
@include modifier(h3) {
	@include text-style-h3();
}
@include modifier(h4) {
	@include text-style-h4();
}
@include modifier(h5) {
	@include text-style-h5();
}
@include modifier(top-round) {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	@include media-breakpoint-up(md) {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
}

@include modifier(btm-round) {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	@include media-breakpoint-up(md) {
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}
}
