@mixin base-text-style () {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	font-style: normal;
	font-family: $font-family-base;
}
@mixin text-style-h1() {
	font-weight: 700;
	font-style: normal;
	font-family: $font-family-head;
	font-size: 27px;
	line-height: 1.3;
	text-transform: uppercase;
	margin: 0 0 21px;
	@include media-breakpoint-up(lg) {
		font-size: 35px;
		line-height: 1.3;
	}
}
h1 {
	@include text-style-h1();
}
@mixin text-style-h2() {
	font-family: $font-family-head;
	margin: 0 0 21px;
	font-size: 24px;
	text-transform: uppercase;
	@include media-breakpoint-up(lg) {
		font-size: 27px;
	}

}
h2 {
	@include text-style-h2();
}
@mixin text-style-h3() {
	font-family: $font-family-head;
	margin: 0 0 21px;
	font-weight: 500;
	font-size: 23px;
}
h3 {
	@include text-style-h3();
}
@mixin text-style-h4() {
	font-family: $font-family-head;
	font-weight: 500;
	font-size: 22px;
	margin: 0 0 21px;
}
h4 {
	@include text-style-h4();
}
@mixin text-style-h5() {
	font-family: $font-family-head;
	margin: 0 0 21px;
}
h5 {
	@include text-style-h5();
}
