// Font
$font-family-base: 'Montserrat', Arial, Helvetica, sans-serif;
$font-family-head: 'Lato', Arial, Helvetica, sans-serif;



/**
 * Grid system
 * -----------------------------------------
 */

//Breakpoints
$grid-breakpoints: (
	xs: 0,
	xsm: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl:  1600px
);
$device-breakpoints: (
	phone: xs,
	tablet: md,
	desktop: lg
);

// Colors
$dark: #000;
$light:  #eceee8;
$success: #19a419;
$secondary: #8c8c8c;
$danger: #ce2029;


$main-gradient: linear-gradient(90deg, rgba(255, 204, 0, 0.30) 0%, rgba(238, 137, 255, 0.30) 100%);
$secondary-gradient: linear-gradient(90deg, #1A52E1 0%, #F569E7 100%);

$font-base-color: $dark;
$font-link-color: $danger;

// time
$animation-base-time: 0.3s;


// Shadow
