mixin chars(data)
	.chars&attributes(attributes)
		each itm in data.list
			._itm
				._ttl!=itm.ttl
				._val
					if itm.val
						!=itm.val
					if itm.file
						+file-lnk({
							file: itm.file
						})
mixin file-lnk(data)
	a(href="#").file-lnk&attributes(attributes)
		+icon('file')
		span=data.file
mixin choice(data)
	.choice&attributes(attributes)
		each itm in data.list
			._itm
				._ttl!=itm.ttl

				._val
					if itm.val
						!=itm.val
					if itm.file
						+file-lnk({
							file: itm.file
						})

.s-order
	+picture({
		media: false,
		retina: false,
		img: 'images/s-calc/bg.png'
	})._bg
	._l-contaienr.l-container
		._cols
			._col.-first
				._box
					._ttl.-danger.-mt-0 Тираж № 1
					+chars({
						list: [
							{
								ttl: 'Количество карт в тираже:',
								val: '1050 ₽'
							},
							{
								ttl: 'Пластик:',
								val: 'Белый пластик'
							},
							{
								ttl: 'Поверхность:',
								val: 'Глянцевая'
							}
						]
					})._top-chars
					._ttl Опции:
					+choice({
						list: [
							{
								ttl: 'Бесконтактный чип:',
								val: 'MF Ultralight EV1'
							},
							{
								ttl: 'Эмбоссирование:',
								val: 'Серебристый окрас'
							},
							{
								ttl: 'Отверстие:',
								val: 'Круглое 6 мм'
							},
							{
								val: 'Полоса для подписи',
							},
							{
								ttl: 'QR-код',
								val: 'Ссылка'
							},
							{
								val: 'Упаковка в пакетики'
							},
							{
								ttl: 'Фольгирование принтом:',
								val: 'Серебро'
							},
							{
								ttl: 'Печать переменных данных:',
								val: 'от 001 до 900 '
							},
							{
								val: '3D-печать (УФ принт)'
							}
						]
					})
					._ttl Дизайн::
					+choice({
						list: [
							{
								ttl: 'Дизайн:',
								val: 'Есть готовый макет'
							},
							{
								ttl: 'Прикрепленные файлы:',
								file: '1677392267_1677229601_card side 1.pdf'
							}
						]
					})
					._comment
						._comment-ttl Комментарий к макету:
						._comment-txt Тиснение фольгой – это метод нанесения особой металлизированной пленки с помощью термопечати. Данная технология используется для выделения какого-либо отдельного элемента (логотип) или символа на пластиковой карте. Тиснение фольгой позволит придать карте карте особую элитарность и изящность.

				._data
					._data-col
						._ttl.-mt-0 Контактные данные
						+chars({
							list: [
								{
									ttl: 'СДЭК:',
									val: 'KLM26, город: Коломна'
								},
								{
									ttl: 'Тип доставки:',
									val: 'Самовывоз'
								},
								{
									ttl: 'ФИО:',
									val: 'Дмитрий Ершов'
								},
								{
									ttl: 'Телефон:',
									val: '+7 (921) 348-52-12'
								},
								{
									ttl: 'E-mail:',
									val: 'dimerpost@ya.ru'
								}
							]
						})
					._data-col
						._ttl.-mt-0 Реквизиты
						+chars({
							list: [
								{
									ttl: 'НДС:',
									val: 'без НДС'
								},
								{
									ttl: 'Прикрепленный файл:',
									file: 'card side 1.pdf'
								}
							]
						})
			._col.-last
				.result-box
					._line.-mt-0
						._ttl Цена за этот тираж:
						._val 1050 ₽
					._line
						._ttl Цена за карту:
						._val 21 ₽
					._line.-has-border
						._ttl Вес заказа:
						._val 0,3 кг.
					._line
						._ttl Цена за доставку:
						._val 0 ₽
					._line.-has-border.-total
						._ttl Итого:
						._val 1071 ₽
					+btn({ ttl: 'Отправить заказ' })._btn.btn_fluid

