.s-order {
	margin-top: 50px;
	position: relative;
	margin-bottom: 50px;
	&__bg {
		position: absolute;
		right: 0;
		top: convertVW(-96);
		width: convertVW(386);
		height: convertVW(448);
	}
	&__cols {
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 50px;
		}
	}
	&__col {
		&_first {
			@include media-breakpoint-up(lg) {
				flex: 1 0 0;
			}
		}
		&_last {
			margin-top: 20px;
			@include media-breakpoint-up(lg) {
				margin-top: 0;
				max-width: 278px;
				flex: 0 0 278px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: 0;
				max-width: 378px;
				flex: 0 0 378px;
			}
		}
	}
	&__box {
		border: 1px dashed $secondary;
		border-radius: 10px;
		padding: 15px;
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
	}
	&__ttl {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		margin: 30px 0 20px;
		&_danger {
			color: $danger;
		}
	}
	&__top-chars {
		max-width: 756px;
		.chars__val {
			flex:  0 0 150px;
			max-width: 150px;
		}
	}
	&__comment {
		margin-top: 30px;
		border: 1px dashed $secondary;
		padding: 15px;
		border-radius: 10px;
		@include media-breakpoint-up(md) {
			padding: 22px 35px;
		}
		&-ttl {
			font-weight: 400;
			font-size: 15px;
			color:  $secondary;
		}
		&-txt {
			font-weight: 400;
			font-size: 15px;
			line-height: 160%;
			margin-top: 10px;
		}
	}
	&__data {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			margin-top: 80px;
			flex-flow: row nowrap;
		}
		@include media-breakpoint-up(xl) {
			gap: 80px;

		}
		&-col {
			flex: 1 0 0;
		}
	}
}
