-
	var team = [
		{
			ava: 'images/s-contacts/img-1.png',
			username: 'Дмитрий Ершов',
			post: 'Руководитель отдела продаж',
			phone: '+7 969 730-01-01',
			mail: 'info@reallifeonline.ru',
			quote: 'Я помогу собрать требуемый материал, рассчитать тираж и запустить его в печать.'
		},
		{
			ava: 'images/s-contacts/img-2.png',
			username: 'ДМИТРИЙ ШАРГИН',
			post: 'Руководитель производства',
			phone: '+7 800 201-21-14',
			mail: 'info@reallifeonline.ru',
			quote: 'Подскажу вам дату отгрузки тиража и прослежу за её соблюдением.'
		},
		{
			ava: 'images/s-contacts/img-3.png',
			username: 'МАКСИМ КОТТОВ',
			post: 'Дизайнер',
			phone: '+7 800 201-21-14',
			mail: 'info@reallifeonline.ru',
			quote: 'Дизайн спасет мир, а кто спасет дизайн, может быть вы?'
		}
	]
.s-contacts
	._map
		+picture({
			media: false,
			retina: false,
			img: 'images/s-contacts/map.png'
		})._img
		._ttl.-h2 Наша команда
		._team
			each itm in team
				._itm
					._top
						+picture({
							media: false,
							retina: false,
							img: itm.ava
						})._ava
						._desc
							._username!=itm.username
							._post!=itm.post
							._phone
								+phone({phone:itm.phone})
							._mail
								a(href="mailto:"+itm.mail)=itm.mail
					._quote
						include quote.svg
						=itm.quote
