.s-contacts {
	margin-top: 37px;
	margin-bottom: 40px;
	@include media-breakpoint-up(md) {
		margin-bottom: 80px;

	}
	&__img {
		display: block;
	}
	&__ttl {
		margin: 40px 0 30px!important;
		@include media-breakpoint-up(md) {
			margin: 80px 0 30px!important;

		}
	}
	&__team {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			justify-content: center;
		}
		@include media-breakpoint-up(xl) {
		    gap: 125px;
		}
	}
	&__itm {
		@include media-breakpoint-up(md) {
		 @include gapOffset(2, 15)

		}
		@include media-breakpoint-up(xl) {
			@include gapOffset(3, 125)
		}
	}
	&__top {
		display: flex;
		gap: 15px;
		@include media-breakpoint-up(lg) {
			gap: 20px;

		}
	}
	&__ava {
		flex: 0 0 90px;
		max-width: 90px;
		height: 90px;
		display: block;
		border-radius: 100%;
		@include media-breakpoint-up(md) {
			flex: 0 0 130px;
			max-width: 130px;
			height: 130px;
		}
	}
	&__username {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
	}
	&__post {
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
	}
	&__phone {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 15px;
		a {
			color: inherit;
			border: none;
		}
	}
	&__mail {
		font-size: 15px;
		line-height: 160%;
	}
	&__quote {
		display: flex;
		align-items: center;
		gap: 20px;
		font-style: italic;
		font-weight: 400;
		font-size: 15px;
		line-height: 140%;
		margin-top: 20px;
		svg {
			height: 30px;
			min-width: 42px;
			max-width: 42px;
		}
	}
}
