.s-products.-btm-round
	._l-container.l-container
		._title.-h2 наша продукция
		._list
			._itm
				a(href="#" data-popup="#popup")._lnk
					+picture({
						img: 'images/s-products/img-1.png',
						media: false,
						retina: false,
					})._img
			._itm
				a(href="#" data-popup="#popup")._lnk
					+picture({
						img: 'images/s-products/img-2.png',
						media: false,
						retina: false,
					})._img
			._itm
				a(href="#" data-popup="#popup")._lnk
					+picture({
						img: 'images/s-products/img-3.png',
						media: false,
						retina: false,
					})._img
			._itm
				a(href="#" data-popup="#popup")._lnk
					+picture({
						img: 'images/s-products/img-4.png',
						media: false,
						retina: false,
					})._img
			._itm
				a(href="#" data-popup="#popup")._lnk
					+picture({
						img: 'images/s-products/img-5.png',
						media: false,
						retina: false,
					})._img
			._itm.-btns
				+btn({ ttl: 'Посмотреть портфолио'})._btn
				+btn({ ttl: 'Сделать расчет'})._btn.btn_outline
