.s-products {
	padding-top: 25px;
	padding-bottom: 40px;
	box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.04);
	background: rgba(255, 255, 255, 0.5);
	@include media-breakpoint-up(md) {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		column-gap: 15px;
		row-gap: 15px;
		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
			height: convertVW(644);
			row-gap: convertVW(15);
		}
		@include media-breakpoint-up(lg) {
			column-gap: 24px;
			row-gap: convertVW(24);

		}
	}
	&__itm {
		display: flex;
		@include media-breakpoint-up(md) {
			max-width: calc(33.33333% - 1rem);
			min-width: calc(33.33333% - 1rem);
		}
		@include media-breakpoint-up(lg) {
			max-width: calc(33.33333% - 1.6rem);
			min-width: calc(33.33333% - 1.6rem);
		}
		&_btns {
			margin-top: auto;
			gap: 15px;
			display: flex;
			flex-direction: column;
			@include media-breakpoint-up(sm) {
				flex-flow: row nowrap;

			}
		}
	}
	&__lnk {
		border: none;
		display: flex;
		max-height: 100%;
		height: 100%;
		width: 100%;
		picture {
			width: 100%;
		}
	}
	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
		border-radius: 15px;
		@include media-breakpoint-up(md) {
			height: 100%;
		};
	}
	&__itm:nth-child(1) {
		@include media-breakpoint-up(md) {
			height: convertVW(350);
		}
	}
	&__itm:nth-child(2) {
		@include media-breakpoint-up(md) {
			height: convertVW(270);
		}
	}
	&__itm:nth-child(3) {
		@include media-breakpoint-up(md) {
			height: convertVW(270);
		}
	}
	&__itm:nth-child(4) {
		@include media-breakpoint-up(md) {
			height: convertVW(350);
		}
	}
	&__itm:nth-child(5) {
		@include media-breakpoint-up(md) {
			height: convertVW(530);
		}
	}
	&__itm:nth-child(6) {
		@include media-breakpoint-up(md) {
			height: convertVW(55);
		}
	}
	&__btn {

		@include media-breakpoint-down(lg) {
			font-size: 12px;
			padding: 10px;
		}
		@include media-breakpoint-between(md, md) {
			font-size: 10px;
			padding: 10px 5px;

		}
		@include media-breakpoint-between(lg, xxl) {
			font-size: 12px;
		}
	}
}
