.options {

	&__itm {
		margin-top: 30px;
		padding: 10px;
		border-radius: 15px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		z-index: 3;
		border: 1px solid $secondary;
		@include media-breakpoint-up(lg) {
			padding: 20px;

		}
		&:after,
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
		}
		&:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #F6F7F4;
			border-radius: 14px;
		}
		&:before {
			top: -1px;
			left: -1px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			opacity: 0;
			border-radius: 15px;
			background: $secondary-gradient;
			transition: opacity $animation-base-time;
		}
	}
	&__checkbox {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	&__checkbox:checked + &__itm {
		&:before {
			opacity: 1;
		}
	}
	&__checkbox:checked + &__itm &__switch {
		&:before {
			opacity: 1;
		}
		&:after {
			left: 15px;
		}
	}
	&__switch {
		cursor: pointer;
		min-width: 32px;
		max-width: 32px;
		border-radius: 13px;
		background: $secondary;
		transition: background-color $animation-base-time;
		position: relative;
		margin-right: 20px;
		height: 20px;
		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 10px;
			left: 10px;

		}
		&:after {
			content: '';
			top: 3px;
			left: 3px;
			transition: left $animation-base-time;
			position: absolute;
			width: 14px;
			height: 14px;
			border-radius: 100%;
			background-color: #FFF;
		}
		&:before {
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity $animation-base-time;
			content: '';
			position: absolute;
			top: 0;
			border-radius: inherit;
			left: 0;
			background: $secondary-gradient;
		}
	}
	&__desc {
		flex: 1 0 0;
	}
	&__ttl {
		font-weight: 500;
		@include media-breakpoint-down(sm) {
			padding-left: 40px;

		}
	}
	&__txt {
		margin-top: 10px;
	}
	&__textarea {
		margin-top: 30px;
	}
	&__pict {
		flex: 0 0 100%;
		max-width: 100%;
	  margin: 15px 0 0;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			flex: 0 0 180px;
			max-width: 180px;
			margin-left: 15px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 230px;
			max-width: 230px;
			margin-left: 50px;
		}
	}
	&__dropdown {
		display: none;
	}
}
.varitants {
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	margin: 30px 0 0;
	&__input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	&__input:checked + &__btn {
		&:before {
			opacity: 1;
		}
	}
	&__btn {
		cursor: pointer;
		display: block;
		position: relative;
		border: 1px dashed $secondary;
		border-radius: 10px;
		padding: 10px 15px;
		line-height: 17px;
		font-weight: 400;
		font-size: 14px;
		color: #000;
		z-index: 3;
		@include media-breakpoint-up(xl) {
			font-size: 16px;
			padding: 16px 25px;
			line-height: 21px;
		}
		&:after,
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
		}
		&:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #F6F7F4;
			border-radius: 9px;
		}
		&:before {
			top: -1px;
			left: -1px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			opacity: 0;
			border-radius: 10px;
			background: $secondary-gradient;
			transition: opacity $animation-base-time;
		}
	}
}
