-
	var options = [
		{
			input: 'point-1',
			ttl: 'Печать переменных данных',
			txt: 'Печатная нумерация, другими словами это печать переменных данных или порядковых номеров на карточках. К печатной персонализации можно отнести нанесение на карту, срока действия, номера, промо-кода и т.п.  <a href="#">Подробнее</a>',
			field: {
				field: {
					tagName: 'textarea',
					placeholder: "Укажите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами",
				},
			},
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-1.png'
			}
		},
		{
			input: 'point-2',
			ttl: 'Бесконтактный чип',
			txt: 'Самыми популярными типами смарт-карт являются модели на базе чипов Em-marine и Mifare.<a href="#">Подробнее</a>',
			variants: [
				{
					checked: true,
					ttl: 'Чип MF1K'
				},
				{
					ttl: 'Чип EM-Marine'
				},
				{
					ttl: 'Ключ-карта(отель)'
				},
				{
					ttl: 'ICODE SLIX 2K'
				},
				{
					ttl: 'MF Ultralight EV1'
				},
				{
					ttl: 'MF Ultralight C'
				},
				{
					ttl: 'Temic (T5577)'
				},
				{
					ttl: 'Mifare S70 4k'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-2.png'
			}
		},
		{
			input: 'point-3',
			ttl: 'Штрих код',
			txt: 'Нанесение штрих-кода на пластиковые карты – это один из наиболее экономичных способов их персонализации. Информация на таких картах шифруется с помощью чередующихся черных и белых полос.  <a href="#">Подробнее</a>',
			field: {
				field: {
					tagName: 'textarea',
					placeholder: "Укажите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами",
				},
			},
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-3.png'
			}
		},
		{
			input: 'point-4',
			ttl: 'Магнитная полоса',
			txt: 'Информация на магнитной полосе карты, как правило содержит в себе номер карты, который система ведения клиентов считывает в момент использования и находит соответствие с персональными данными по владельцу карты.   <a href="#">Подробнее</a>',
			field: {
				field: {
					tagName: 'textarea',
					placeholder: "Укажите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами",
				},
			},
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-4.png'
			}
		},
		{
			input: 'point-5',
			ttl: 'Эмбоссирование',
			txt: 'Эмбоссирование пластиковых карт с использованием прогрессивного оборудования обеспечивает идеальную точность выдавливания каждого символа, гарантирует стабильную высоту рельефности. <a href="#">Подробнее</a>',
			field: {
				field: {
					tagName: 'textarea',
					placeholder: "Введите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами. Стандартный шрифт для цифр 3,5 или 5 мм.",
				},
			},
			variants: [
				{
					checked: true,
					ttl: 'Золотистый окрас'
				},
				{
					ttl: 'Серебристый окрас'
				},
				{
					ttl: 'Чёрный окрас'
				},
				{
					ttl: 'Без окраски'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-5.png'
			}
		},
		{
			input: 'point-6',
			ttl: 'Отверстие',
			txt: 'Пластик, пожалуй, является идеальным материалом для печати бейджей, номерков для гардероба с индивидуальным дизайном и нанесением персональных данных. Пластиковый бейдж по сравнению с аналогами обладает рядом неоспоримых преимуществ.<a href="#">Подробнее</a>',
			field: {
				field: {
					tagName: 'textarea',
					placeholder: "Введите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами. Стандартный шрифт для цифр 3,5 или 5 мм.",
				},
			},
			variants: [
				{
					checked: true,
					ttl: 'Прямое 3х14 мм'
				},
				{
					ttl: 'Круглое 6 мм'
				},
				{
					ttl: 'Круглое 12 мм'
				},
				{
					ttl: 'Круглое 15 мм'
				},
				{
					ttl: 'Круглое 20 мм'
				},
				{
					ttl: 'Евро (32д х 6,8в х 9в) - 4-10 мм'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-6.png'
			}
		},
		{
			input: 'point-7',
			ttl: 'Полоса для подписи',
			txt: 'Специальная полоса, нанесенная на поверхность пластиковой карты, позволяющая делать надписи (например, шариковой ручкой). Подробнее. <a href="#">Подробнее</a>',
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-7.png'
			}
		},
		{
			input: 'point-8',
			ttl: 'QR-код',
			txt: 'QR-код представляет собой разносность двумерного штрих-кода, обеспечивающего максимально быстрый отклик при считывании информации.  <a href="#">Подробнее</a>',
			variants: [
				{
					checked: true,
					ttl: 'Ссылка'
				},
				{
					ttl: 'Текст'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-8.png'
			}
		},
		{
			input: 'point-9',
			ttl: 'Фольгирование принтом',
			txt: 'Тиснение фольгой – это метод нанесения особой металлизированной пленки с помощью термопечати. Данная технология используется для выделения какого-либо отдельного элемента (логотип) или символа на пластиковой карте.  <a href="#">Подробнее</a>',
			variants: [
				{
					checked: true,
					ttl: 'Золото'
				},
				{
					ttl: 'Серебро'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-9.png'
			}
		},
		{
			ttl: 'Вкладыш для карты А6 (с клеевой точкой)',
			txt: 'Специальная полоса, нанесенная на поверхность пластиковой карты, позволяющая делать надписи (например, шариковой ручкой).   <a href="#">Подробнее</a>',
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-10.png'
			}
		},
		{
			ttl: 'Пластиковая визитка',
			txt: 'Специальная полоса, нанесенная на поверхность пластиковой карты, позволяющая делать надписи (например, шариковой ручкой). <a href="#">Подробнее</a>',
			variants: [
				{
					checked: true,
					ttl: 'На белом пластике'
				},
				{
					ttl: 'На прозрачном пластике'
				}
			],
			img: {
				media: false,
				retina: false,
				img: 'images/options/img-11.png'
			}
		},
		{
			ttl: 'Упаковка в пакетики',
			txt: 'Для обеспечения дополнительной защиты каждая карта может быть упакована в пакетик из прозрачной плёнки. Прозрачные пакетики позволяют сохранить первозданный вид пластиковых карт во время транспортировки и хранения, защищая их поверхность от царапин и истираний.',

			img: {
				media: false,
				retina: false,
				img: 'images/options/img-12.png'
			}
		},
		{
			ttl: '3D-печать (УФ принт)',
			txt: 'Ультрафиолетовая печать на пластике осуществляется с помощью специальных чернил, которые способны полимеризоваться под воздействием УФ-излучения. Благодаря такой реакции, на запечатываемом материале образуется плотная плёнка. УФ-печать позволяет создавать на пластиковых картах очень долговечные изображения.',

			img: {
				media: false,
				retina: false,
				img: 'images/options/img-13.png'
			}
		},
		{
			ttl: '3-TAG (мини-карта)',
			txt: 'Мини-карты, выполненные в форме стандартной карточки со специальными бороздками для отламывания их друг от друга. Каждая такая мини-карточка является полноценной единицей, на которую нанесено изображение, и которая может быть дополнительно персонализирована. ',

			img: {
				media: false,
				retina: false,
				img: 'images/options/img-14.png'
			}
		},
		{
			ttl: 'Кодирование (запись данных)',
			txt: 'Данные на современной смарт-карте зашифрованы с помощью сложных цифровых кодов, их невозможно скопировать или считать простым скиммером, они хранятся около 10 лет и не подвержены размагничиванию.',

			img: {
				media: false,
				retina: false,
				img: 'images/options/img-15.png'
			}
		}
	]
.options
	- id = 0;
	- nameId = 0;
	each itm, i in options
		input(type="checkbox" id='option-'+i data-point=itm.input)._checkbox
		._itm
			- nameId++;
			label(for='option-'+i)._switch
			._desc
				._ttl!=itm.ttl
				._txt!=itm.txt
				if itm.field || itm.variants
					._dropdown.js-dropdown
						if itm.field
							+input(itm.field)._textarea

						if itm.variants
							.varitants
								each variant in itm.variants
									._itm
										- id++
										input(type=variant.checkbox? 'checkbox' : 'radio'
											name='variatn-'+nameId,
											checked=variant.checked
											id='variant-'+id)._input
										label(for='variant-'+id)._btn!=variant.ttl

			._pict
				+picture(itm.img)._img

