extends base/pug/base

append variables
	- var title = 'Изготовление пластиковых карт'
	- var pageClass = ''
	- var pageUrl = '/'
	- var popupShow = true
block content
	include components/s-main-banner/s-main-banner
	include components/s-how-order/s-how-order
	include components/s-maps/s-maps
	include components/s-products/s-products
	include components/s-advantages/s-advantages
