extends base/pug/base
append variables
	- var title = 'UI'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	link(rel="stylesheet" href='./css/index.css')
	.l-container
		h1 Выбирете раздел
		.b-i-dropdown
			._head
				._ttl Страницы проекта
				+icon('angle-down')._icon
			._list
				._itm.is-selected(data-tab='#tab01') Страницы проекта
				._itm(data-tab='#tab02') Модальные окна
				._itm(data-tab='#tab1') Типографика
				._itm(data-tab='#tab2') Цвета
				._itm(data-tab='#tab3') Кнопки
				._itm(data-tab='#tab4') Формы
				._itm(data-tab='#tab5') Иконки
		br
		br
		br
		.b-i-tabs
			._tab#tab01.is-active
				._head Страницы проекта
				._body
					mixin projectsNav(data)
						.projects-nav&attributes(
							attributes)
							ol
								each itm in data
									li
										a(
											href=itm.url,
											target=itm.fancybox? false : "_blank",
											data-fancybox=itm.fancybox? true : false,
										)=itm.ttl
					+projectsNav([
						{
							"url": "home.html",
							"ttl": "Главная"
						},
						{
							"url": "portfolio.html",
							"ttl": "Портфолио"
						},
						{
							"url": "require.html",
							"ttl": "Макеты и шаблоны дизайна пластиковых карт"
						},
						{
							"url": "calc.html",
							"ttl": "Калькулятор"
						},
						{
							"url": "order.html",
							"ttl": "Оформление заказа"
						},
						{
							"url": "content.html",
							"ttl": "Текстовая"
						},
						{
							"url": "contacts.html",
							"ttl": "Контакты"
						}
					])
			._tab#tab02
				._head Модальные окна
				._body
					+projectsNav([
						{
							url: "#callback",
							fancybox: true,
							ttl: "Обратный звонок"
						}
					])
			._tab#tab1
				._head Типографика
				._body
					h1 Заголовок h1
					h2 Заголовок h2
					h3 Заголовок h3
					h4 Заголовок h4
					h5 Заголовок h5
					p paragraph
					p.text.-fs-xl text large
						p.text.-fs-xlg text x big
						p.text.-fs-lg text big
						p.text.-fs-sm text small
						p.text.-fs-xs text x small
						p.text.-fs-xxs text xx small
					ul
						li list item
						li list item
						li list item
					ol
						li list item
						li list item
						li list item

			._tab#tab2
				._head Цвета
				._body
					mixin colors(data)
						.b-i-colors-list
							each itm in data
								._itm
									._circle( style=`background: ${itm.color}`)
									p
										code=itm.color
									p
									._txt(class=`b-i-colors-list__txt_color-${itm.ttl}`)!=itm.ttl
					+colors([
						{
							ttl: "dark",
							color: "#000"
						},
						{
							ttl: "success",
							color: "#19a419"
						},
						{
							ttl: "secondary",
							color: "#8c8c8c"
						},
						{
							ttl: "danger",
							color: "#ce2029"
						}
					])
			._tab#tab3
				._head Кнопки
				._body
					+btn({
						ttl: "Default"
					})
					+btn({
						ttl: "Outline"
					}).btn_outline

					+btn({
						ttl: "size md"
					}).btn_md
					+btn({
						ttl: "size md"
					}).btn_md.btn_outline


			._tab#tab4
				._head Формы
				._body
					form.js-validate
						p Для проверки формы используем класс у тега form,
							=' '
							code js-validate
							=' '
						+input({
							label: {
								ttl: "Ваше имя*"
							},
							field: {
								placeholder: "Иван",
								required: true,
								pattern: ".{2,}"
							},
							error: {
								ttl: 'Сообщение об ошибке. Поле Имя не может быть короче 2 символов'
							}
						})
						p Если есть placeholder , первый option должен быть пустым
						select.js-select(data-placeholder="Пластик")
							option(value="")
							option Пластик 1
							option Пластик 2
							option Пластик 3
							option Пластик 4
						br
						select.js-select()
							option Глянец 1
							option Глянец 2
							option Глянец 3
							option Глянец 4

						+checkbox({
							field: {
								required: true
							},
							label: {
								ttl: 'Оставить отзыв анонимно'
							}
						})
						br
						br
						+radio({
							field: {
								required: true,
								name: "radio"
							},
							label: {
								ttl: "Радио кнопка"
							}
						}).radio_inline
						+radio({
							field: {
								required: true,
								name: "radio"
							},
							label: {
								ttl: "Радио кнопка 2"
							}
						}).radio_inline
						br
						br
						button(type="submit") submit
			._tab#tab5
				._head Иконки
				._body
					mixin icons(data)
						.b-i-icons.-color-success
							each icon in data
								._itm
									+icon(icon.icon)._icon
									code=icon.icon
					+icons([
						{icon: 'angle-down'},
						{icon: 'mail'},
						{icon: 'telegram'},
						{icon: 'phone'},
						{icon: 'asterisk'},
						{icon: 'plus'},
						{icon: 'minus'},
					])
	br
	br
	br
	br
	br
block script
	script(src=`${baseDir}js/index.js`)
