extends base/pug/base
append variables
	- var title = 'Портфолио'
	- var pageClass = ''
	- var pageUrl = 'portfolio.html'
	- var popupShow = true

block content
	.block-white.-btm-round
		.l-container
			include components/page-head/page-head
			+pageHead({
				title: 'Портфолио индивидуальных пластиковых карт'
			})(data-txt=title)
			include components/filter/filter
			include components/s-portfolio/s-portfolio
	include components/s-info/s-info
	+sInfo({
		bg: 'images/s-info/bg.png',
		title: 'Скачать шаблоны',
		desc: 'Чтобы сэкономить ваше время, мы разработали шаблоны в наиболее популярных программах для работы с графикой',
		list: [
			{
				icon: 'images/s-info/img-1.png',
				txt: 'Скачать макет для создания дизайна в формате CorelDraw 12'
			},
			{
				icon: 'images/s-info/img-2.png',
				txt: 'Скачать макет для создания дизайна в формате Adobe Illustrator'
			},
			{
				icon: 'images/s-info/img-3.png',
				txt: 'Скачать макет для создания дизайна в формате Adobe Photoshop'
			}
		]
	})

	+sInfo({
		title: 'Как попасть в цвет?',
		btn: {
			ttl: 'Проконсультироваться'
		},
		list: [
			{
				icon: 'images/s-info/img-4.png',
				txt: 'Предоставить образец цвета, чтобы наш печатник смог максимально возможно в него попасть'
			},
			{
				icon: 'images/s-info/img-5.png',
				txt: 'Заказать печать пробной карты перед печатью тиража'
			},
			{
				icon: 'images/s-info/img-6.png',
				txt: 'Указать требуемые цвета из каталога PANTONE (Formula Guide)'
			}
		]
	})
