-
	var radioList = [
		{
			field: {
				name: "type-1"
			},
			label: {
				ttl: "Есть готовый макет"
			},
			val: '0 ₽'
		},
		{
			field: {
				name: "type-1"
			},
			label: {
				ttl: "Есть макет, но его нужно доработать"
			},
			val: '300 ₽'
		},
		{
			field: {
				name: "type-1"
			},
			label: {
				ttl: "Нужно сделать карты, но нет макета"
			},
			val: '700 ₽'
		},
		{
			field: {
				name: "type-1"
			},
			label: {
				ttl: "Нужна разработка нескольких макетов"
			},
			val: '1500 ₽'
		}
	]
mixin radioList(data)
	.radio-list&attributes(attributes)
		each itm in data.list
			._itm
				+radio(itm)._radio
				._val!=itm.val
form.s-calc(action="/" method="post" id='my-dropzone' )
	+picture({
		media: false,
		retina: false,
		img: 'images/s-calc/bg.png'
	})._bg
	._l-contaienr.l-container
		._cols
			._col.-first
				._step
					._ttl.-h2 Шаг 1. Основные характеристики.
					p Рассчитать стоимость и оформить заказ, или
						=' '
						a(href="#") заказать образцы карт
					._counter
						._lbl Выберите кол-во карт:
						+counter()
					._group
						._lbl Материал:
							.hint
								+icon('info')
								._txt пример текста подсказки
						._selects
							select.js-select(data-placeholder="Пластик")._select
								option(value="")
								option Пластик 1
								option Пластик 2
								option Пластик 3
								option Пластик 4
							select.js-select(data-placeholder="Поверхность")._select
								option(value="")
								option Поверхность 1
								option Поверхность 2
								option Поверхность 3
								option Поверхность 4
					._group.-cards
						._lbl Опции:
						._cards
							._card
								+picture({
									media: false,
									retina: false,
									img: 'images/s-calc/card-1.png'
								})
								._point.-type-1#point-1
								._point.-type-2#point-2
								._point.-type-5#point-5
								._point.-type-6#point-6
								._point.-type-9#point-9
							._card
								+picture({
									media: false,
									retina: false,
									img: 'images/s-calc/card-2.png'
								})
								._point.-type-4#point-4
								._point.-type-3#point-3
								._point.-type-7#point-7
								._point.-type-8#point-8
					include ../options/options
				._step.-has-border
					._ttl.-h2 Шаг 2. Дизайн карт.
					+radioList({
						list: radioList
					})
					+input({
						field: {
							tagName: 'textarea',
							placeholder: "Укажите диапазон номеров, указав начальное и конечное значение. Если номера идут не по порядку, укажите начальное значение и приложите базу вместе с макетами",
						}
					})._textarea
					._group
						._lbl Загрузите ваш макет карт или реквизиты для безналичной оплаты:
						._row-file
							._file
								.dropzone#dropzone
									.dz-message.needsclick
										.icon
											include bg.svg
										|Выберите файл или перетащите его на это поле
								._file-txt
										|Максимальный размер файла 128Mb.
										br
										|Допустимый формат файлов: .jpg, .jpeg, .png, .gif, .psd,.pdf, .ai, .cdr, .indd,.zip, .7z, .rar, .tar, .gz
								.previews-container
							._templates
								p Используйте наши шаблоны для подготовки макетов к печати:
								._templates-row
									a(href="#")
										+picture({
											media: false,
											retina: false,
											img: 'images/s-calc/img-1.png'
										})
									a(href="#")
										+picture({
											media: false,
											retina: false,
											img: 'images/s-calc/img-2.png'
										})
									a(href="#")
										+picture({
											media: false,
											retina: false,
											img: 'images/s-calc/img-3.png'
										})


				._step.-has-border
					._ttl.-h2 Шаг 3. Доставка.
					._delivery
						+radio({
							field: {
								name: 'delivery',
								checked: true,
								value: 'courier',
								tab: 'map1'
							},
							label: {
								ttl: 'Доставка курьером'
							}
						})._radio
						+radio({
							field: {
								value: 'pickup',
								name: 'delivery',
								tab: 'map2'
							},
							label: {
								ttl: 'Самовывоз'
							}
						})._radio
					._group
						._input-line
							+input({
								field: {
									placeholder: "Ф.И.О.",
								},
							})._input-field
							+input({
								field: {
									placeholder: "Компания",
								},
							})._input-field
						._input-line
							+input({
								field: {
									type: 'tel',
									placeholder: 'Телефон',
									mask: '+7 (999) 999-99-99',
								},
							})._input-field
							+input({
								field: {
									type: 'email',
									placeholder: "Email",
								},
							})._input-field
						._input-line
							+input({
								field: {
									placeholder: 'Адрес',
								},
							})._input-field
						._input-line
							+input({
								field: {
									placeholder: "БИК банка",
								},
							})._input-field
							+input({
								field: {
									placeholder: "Расчетный счет",
								},
							})._input-field

					._group
						#map1
							._lbl Выбор пункта выдачи 1:
							._map
								+picture({
									media: false,
									retina: false,
									img: 'images/s-calc/map.png'
								})
						#map2
							._lbl Выбор пункта выдачи 2:
							._map
								+picture({
									media: false,
									retina: false,
									img: 'images/s-calc/map.png'
								})
			._col.-last
				.result-box
					._line.-mt-0
						._ttl Цена за этот тираж:
						._val 1050 ₽
					._line
						._ttl Цена за карту:
						._val 21 ₽
					._line.-has-border
						._ttl Вес заказа:
						._val 0,3 кг.
					._line
						._ttl Цена за доставку:
						._val 0 ₽
					._line.-has-border.-total
						._ttl Итого:
						._val 1071 ₽
					+btn({ttl: 'Отправить заказ'})._btn.btn_fluid

