.s-calc {
	margin-top: 50px;
	position: relative;
	margin-bottom: 50px;
	&__bg {
		position: absolute;
		right: 0;
		top: convertVW(-96);
		width: convertVW(386);
		height: convertVW(448);
	}
	&__cols {
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 50px;
		}
	}
	&__col {
		&_first {
			@include media-breakpoint-up(lg) {
				flex: 1 0 0;
			}
		}
		&_last {
			margin-top: 20px;
			@include media-breakpoint-up(lg) {
				margin-top: 0;
				max-width: 278px;
				flex: 0 0 278px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: 0;
				max-width: 378px;
				flex: 0 0 378px;
			}
		}
	}

	&__step {
		&_has-border {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid #c9c9c9;
			@include media-breakpoint-up(md) {
				padding-top: 80px;
				margin-top: 80px;

			}
		}
	}
	&__ttl {
		margin: 0!important;
		&+p {
			margin-top: 0;
		}
	}
	&__group {
		margin-top: 15px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;

		}
		&_cards {
			@include media-breakpoint-up(md) {
				background-color: #F6F7F4;
				padding: 10px 15px 0;
				position: sticky;
				margin: 40px -15px 0;
				top: 0px;
				left: 0;
				z-index: 100;
			}
		}
	}
	&__counter {
		margin-top: 15px;
		max-width: 244px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;

		}
	}
	&__lbl {
		margin-bottom: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__selects {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
		}
		@include media-breakpoint-up(lg) {
			gap: 24px;
		}
		.custom-select {
			flex: 1 0 0;
			width: 100%;
			margin: 0;
			@include media-breakpoint-up(md) {
				max-width: 378px;

			}
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: (397*2px+24);
		@include media-breakpoint-up(xsm) {
			gap: 24px;
			flex-flow: row nowrap;
		}

		img {
			display: block;
			width: 100%;
		}
	}
	&__card {
		position: relative;
		flex: 1 0 0;
	}
	&__point {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background-color: $danger;
		opacity: 0;
		transition: opacity $animation-base-time;
		&.is-active {
			opacity: 0.5;
		}
		&:after,&:before {
			border: 1px solid $danger;
			content: "";
			width: 100%;
			display: block;
			position: absolute;
			height: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 100%;
			transform-origin: center center;
			opacity: 0;
			box-sizing: border-box;
		}
		&:before {
			animation: 1s .1s pulse2 infinite linear;
		}
		&:after {
			animation: 1s pulse infinite linear;
		}
		@keyframes pulse {
			0% {
				transform: scale(2);
				opacity: .2;
			}
			100% {
				transform: scale(2.3);
				opacity: 0;
			}
		}
		@keyframes pulse2 {
			0% {
				transform: scale(1.5);
				opacity: .5;
			}
			100% {
				transform: scale(1.8);
				opacity: 0;
			}
		}
		&_type-1 {
			top: 37%;
			left: 75%;
		}
		&_type-2 {
			top: 27%;
			left: 8%;
		}
		&_type-3 {
			top: 77%;
			left: 78%;
		}
		&_type-4 {
			top: 20%;
			left: 43%;
		}
		&_type-5 {
			top: 80%;
			left: 83%;
		}
		&_type-6 {
			top: 47%;
			left: 4%;
		}
		&_type-7 {
			top: 45%;
			left: 21%;
		}
		&_type-8 {
			top: 77%;
			left: 9%;
		}
		&_type-9 {
			top: 81%;
			left: 13%;
		}
	}
	&__textarea {
		margin-top: 15px;
		@include media-breakpoint-up(md) {
			margin-top: 30px;
		}
		textarea {
			height: 160px;
		}
	}
	&__row-file {
		@include media-breakpoint-up(md) {
			display: flex;
			gap: 15px;
			align-items: flex-start;

		}
		@include media-breakpoint-up(lg) {
			gap: 60px;
		}
		p {
			margin-top: 0;
		}
	}
	&__file {
		flex: 1 0 0;
		display: flex;
		gap: 24px;
		flex-direction: column;
		@include media-breakpoint-up(md) {
		    flex-flow: row wrap;
		}
	}
	&__file-txt {
		flex: 1 0 0;
		@include media-breakpoint-between(lg, xl) {
			font-size: 12px;
		}
	}
	.dropzone {
		border-radius: 10px;
		display: flex;
		align-items: center;
		border-image-source: $secondary-gradient;
		border-image-slice: 1;
		background:
			linear-gradient(#FAFAF8 0 0) padding-box,
			$secondary-gradient border-box;
		border: 2px dashed #FAFAF8;

		gap: 24px;
		min-height: 147px;
		padding: 30px 15px;
		@include media-breakpoint-up(xl) {
			width: 180px;
			flex: 0 0 180px;
		}
		@include media-breakpoint-up(xl) {
			width: 243px;
			flex: 0 0 243px;
		}
		.icon {
			width: auto;
			height: auto;
			svg {
				display: block;
			}
			display: block;
		}
		.dz-message {
			font-size: 14px;
			line-height: 17px;
			color: $secondary;
			margin: 0;
			width: 100%;
			height: 100%;
			gap: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__templates {
		@include media-breakpoint-up(md) {
			text-align: right;
			max-width: 240px;

		}
		@include media-breakpoint-up(lg) {
			max-width: 280px;

		}
		a {
			border: none;
		}
		&-row {
			margin-top: 44px;
			display: flex;
			@include media-breakpoint-up(md) {
				justify-content: flex-end;
			}
			gap: 30px;
		}
	}
	&__delivery {
		margin-top: 30px;
		display: flex;
		flex-flow: row wrap;
		gap: 24px;

	}
	&__input-line {
		flex-direction: column;
		display: flex;
		gap: 15px;
		@include media-breakpoint-up(md) {
			flex-flow: row nowrap;
			gap: 24px;
			margin-top: 30px;
		}
	}
	&__input-field {
		flex: 1 0 0;
	}
}

.radio-list {
	max-width: 510px;
	margin-top: 20px;
	@include media-breakpoint-up(md) {
		margin-top: 50px;

	}
	&__itm {
		display: flex;
		justify-content: space-between;
		&:not(:first-child) {
			margin-top: 20px;
		}
	}
	&__val {
		font-weight: 500;
	}
}

.previews-container	 {
	width: 100%;
	display: flex;
	gap: 10px;
	font-size: 10px;

	flex-flow: row wrap;
	.dz-preview {
		position: relative;
		overflow: hidden;
		max-width: 100px;
	}
	img {
		width: 100%;
		display: block;
		max-width: 100px;
	}
	.dz-progress, .dz-error-message {
		display: none;
	}
	.dz-success-mark, .dz-error-mark{
		display: none;
	}
	.dz-remove {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		border: none;
		&:after, &:before {
			background: $danger;
			width: 30px;
			top: 50%;
			left: 50%;
			height: 2px;
			position: absolute;
			content: '';
		}
		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}
.result-box {
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 25px 30px;
	background-color: #FFF;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	@include media-breakpoint-up(md) {
		position: sticky;
		top: 20px;
		left: 0;
	}
	&__line {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
		margin-top: 15px;
		&_has-border {
			border-top: 1px solid #c9c9c9;
			padding-top: 15px;
		}

	}
	&__line_total &-val {
		color: $danger;
		font-size: 20px;
		font-weight: 600;
	}
	&__line_total {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}
	&__val {
		font-weight: 500;
	}
	&__btn {
		margin-top: 15px;
	}
}
